.card{
    margin-top:25vh; 
    margin-left: 10vh;   
}
.logo-pack{
    overflow:auto;
    width: 20%;
    margin-top: 10px;
    margin-left: 20px;
}

#login-btn{
    width: 50%;
    text-align: center;
    margin-left: 27%;
}
.vertical-nav-left{
    width: 30%;
    height: 90vh;
    position: fixed;
    top: 100px;
    margin-left: 50px;
}

#logo{
  margin-left: 20px;
  margin-top: 20px;
  transition: transform 3s;
  
}

#logo:hover{
  transform: scale(1.5);
}

.logo-pack p{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  position:absolute;
  top: 32px;
  left: 60px;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}
.vertical-nav-left ul{
list-style-type:none; 
}

.vertical-nav-left ul li button{
  background-color:transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none; 
  font-size: 21px;
  font-weight: bold;
  
}

.vertical-nav-left ul li button i{
  margin-right: 10px;
}

.vertical-nav-left ul li{
  margin-bottom: 22px;
}

.active{
  color: #5DADE2 ;
  font-weight: bold;
}

.btn-tweet{
  border-radius: 25px;
  height: 50px;
  width: 150px;
  background: #3498DB;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.btn-tweet:hover{
  background: #2E86C1;
}
.search-bar input{
    width: 80%;
    height: 40px;
    padding: 14px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #e6ecf0 ;
    border-color:#e6ecf0;
    background-repeat: no-repeat;
    outline: none;
}
.trendsforyou{
    margin-top: 20px;
    border-radius: 15px;
    background-color: #f5f8fa;
    width: 80%;
    height: 38vh;
}
.trendsforyou p,.whotofollow p{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom: 1px solid #AEB6BF;
    margin-right: 15px;
    padding-bottom: 8px; 
    padding-top: 8px;
}
.whotofollow{
    border-radius: 10px;
    margin-top:20px; 
    background-color: #f5f8fa;
    width: 80%;
    height: 38vh;
}
.base-right-bottom-text{
   opacity: 0.7; margin-top: 5px;
}