<html lang="en">
<head>
    <title>Homepage</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            {{>baseLeft}}
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            {{>baseRight}}
        </div>
    </div>
   
</body>
</html>
