<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Kaushan+Script|Libre+Caslon+Display|Ma+Shan+Zheng|Pacifico&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="logo-pack">
        <img id="logo" src="https://img.icons8.com/color/48/000000/twitter.png"> 
        <p>Twitter</p>
    </div>
   
   
    <div class="card">
         <div class="errors">Your username or password is invalid</div>
        <article class="card-body " >
            <a href="" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
          
                <div class="form-group">
                    <label>Your email</label>
                    <div>
                        <input name="email" class="form-control" placeholder="Email" type="text" id="email"><i class="glyphicon glyphicon-ok" style="display: none; float:right;" id="user_glyp"></i>
                    </div>
                    <p id="no-email">Your email is empty</p>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a class="float-right" href="#">Forgot?</a>
                    <label>Your password</label>
                    <input class="form-control" placeholder="******" type="password" name="password" id="pass"><i class="glyphicon glyphicon-remove" style="display: none;position:absolute;top:0" id="pass_glyp"></i>
                    <p id="no-password">your password is empty</p>
                </div> <!-- form-group// -->
                <div class="form-group-check">
                    <div class="checkbox">
                    <label> <input type="checkbox"> <p id="checkbox-text">Save password</p> </label>
                    </div> <!-- checkbox .// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button id="login-btn" type="submit" class="btn btn-primary btn-block"> Login </button>
                </div> <!-- form-group// -->
           
        </article>
    </div>
</body>

<script>
   
    $(".errors").css("display", "none");
    $('#no-email').css({'display':'none'});
    $('#no-password').css({'display':'none'});
    let username,password;
    
    $(document).on('keyup','#email',function(){
        username = document.getElementById('email').value;
        console.log(username);
        let status1 = 0;
        let email_reg = '^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$';
        if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(username)){
            status1 = 1;
        }

        if(status1 ==1){
            $('#user_glyp').css({'display':'block'});
        }
    });
    
    $(document).on('click','#login-btn',function(){
        $(".errors").css("display", "none");
        username = document.getElementById('email').value;
        password = document.getElementById('pass').value;
        console.log(username + ' ' + password);
        if(username !== "" && password !== "" ){
    
          $.ajax({
                url: window.location,
                type: "POST",
                data: {username:username,password:password},
                success: function(data){
                    if(data == 1){
                        console.log('Yes Valid User');
                    }else{
                        $('.errors').css({'display':'block','color':'red','margin-left':'20%'});
                    }
                }
            });
            
        }
    });

   
</script>

</html>