<div class="navigation common">
    <div class="nav" id="nav_home_cnt">
        <button class="nav_btn" id="nav_home_btn">Home</button>
    </div>
    <div class="nav" id="nav_profile_cnt">
        <button class="nav_btn" id="nav_profile_btn">Profile</button>
    </div>
    <div class="nav" id="nav_tweet_cnt">
        <button class="nav_btn" id="nav_tweet_btn">Tweet</button>
    </div>
    <div class="nav" id="nav_logout_cnt">
        <button class="nav_btn" id="nav_logout_btn">Logout</button>
    </div>
</div>


