<div class="function common">
    <div class="fun_common" id="search_cnt">
        <input type="text" placeholder="Search" name="search">
    </div>
    <div class="fun_common" id="trending_cnt">
    </div>
    <div class="fun_common" id="follow_cnt">
    </div>
</div>